* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1445px;
    height: 200vh;
    overflow-x: hidden;
}
/* navbar */
.topnav {
    position: absolute;
    left: 4%;
    overflow: hidden;
    background: none;
    z-index: 5;
    width: 90vw;
  }
  
  .topnav a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 30px;
    margin-top: 25px;
    float: left;
    display: block;
    color: #101010;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
  }
  
  .topnav a:hover {
    background-color: #EAFF4A;
    color: black;
  }
  

  a button {
    width: 154px;
    height: 53px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 300;
    margin-top: -13px;
    border-radius: 10px;
    background: none;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      background-color: #F8F8F8;
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav .icon {
      margin: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* navbar end */

section {position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw !important;
    background-color: #F8F8F8;
    overflow: hidden;
}
.hero-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: 4;
}
.hero-left .p1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.hero-left h1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font: 900;
    width: 60vw;
}
.hero-left p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font: 500;
    position: absolute;
    top: 56%;
    left: 10%;
}

/* button */
.btn {
    position: absolute;
    top: 69%;
    left: 10%; 
}
.btn button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 289px;
    height: 71px;
    border-radius: 10px;
    font-weight: 500;
}
.btn .btn1 {
    color: #F8F8F8;
    background-color: #101010;
    margin-right: 10px;
}
.btn .btn2 {
    color: #101010;
    border: 2px solid #101010;
    margin-left: 10px;
    background: none;
}

.hero-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: none;
    overflow: hidden;
}
.hero-img {
    position: absolute;
    left: -14%;
    bottom: 0%;
    width: 70%;
    height: 90%;
    z-index: 2;
}
.hero-img1 {
    width: 68vw;
    height: 98vh;
}
.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 13.5vw;
    height: 100vh;
    background-color: #F8F8F8;
    z-index: 0;
}
.black {
    position: absolute;
    top: 0;
    right: 0;
    width: 36.5vw;
    height: 100vh;
    background-color: #101010;
    z-index: 1;
}
.black img {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 35vw;
    height: 60vh;
}
.black button {
    position: absolute;
    top: 4%;
    right: 10%;
    width: 154px;
    height: 53px;
    font-size: 20px;
    border-radius: 10px;
    color: #101010;
    background-color: #EAFF4A;
}

@media only screen and (max-width: 360px) {
  section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 100vw;
    height: 160vh;
}
  .hero-left {
   position: absolute;
   width: 100vw;
   top: 38%;
   align-items: center;
   justify-content: center;
   overflow: hidden;
  }
  .hero-right {
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .hero-img {
    position: absolute;
    top: 5%;
    left: -45%;
    width: 100%;
    height: 90%;
    z-index: 2;
}
  .hero-img1 {
    width: 180vw;
    height: 98vh;
}
.black {
  width: 100vw;
  height: 100vh;
}
.black img {
  width: 115vw;
  height: 85vh;
}
.hero-left .p1 {
  width: 100vw;
  font-size: 18px;
  position: absolute;
  top: 43%;
  left: 10%;
}
.hero-left h1 {
  position: absolute;
  top: 47%;
  left: 10%;
  font-size: 35px;
  font: 900;
  width: 100vw;
}
.hero-left p {
  font-size: 18px;
  font: 500;
  position: absolute;
  top: 72%;
  left: 10%;
  right: 3%;
  width: 100vw;
}
.btn {
  position: absolute;
  top: 84%;
  left: 10%; 
}
.btn .btn2 {
  display: none;
}
.black button {
  position: absolute;
  top: 2%;
  left: 4%;
  width: 154px;
  height: 53px;
  font-size: 20px;
  border-radius: 10px;
  color: #101010;
  background-color: #EAFF4A;
}
.topnav button {
  display: none;
}
.topnav .icon {
  margin: 5%;
  border-radius: 10px;
  background-color: #EAFF4A;
}
}

/* section2 */

.section2 {
    width: 100vw !important;
    height: 75vh;
    background-image:linear-gradient(to left, white 40%, rgba(236, 232, 235, 0)),url('Background\ \(Slide\ 2\).png');
    overflow: hidden;
}
.txt-contain {
  position: absolute;
  right: -2%;
}
.txt-contain h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font: 700;
  margin: 8% 0 4% 0;
}
.txt-contain p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font: 300;
  margin-bottom: 2%;
}
.txt-contain span {
  color: #EAFF4A;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 360px) {
  .section2 {
    width: 100vw !important;
    height: 80vh;
    background-image:linear-gradient(to top, white 35%, rgba(236, 232, 235, 0)),url('Background\ \(Slide\ 2\).png');
    overflow: hidden;
}
.txt-contain {
  position: absolute;
  left: 4%;
  right: 4%;
}
.txt-contain p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font: 300;
  margin-bottom: 2%;
}
}
/* section2 */

/* section 3 */
.logo-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 35vh;
  background-color: #FFFFFF;
}
.img1 img {
  width: 200px;
  height: 100px;
}
.img2 img {
  width: 200px;
  height: 170px;
}
.img3 img {
  width: 300px;
  height: 100px;
}
.img4 img {
  width: 130px;
  height: 130px;
}
.img5 img {
  width: 230px;
  height: 90px;
}

@media only screen and (max-width: 360px) {
  .logo-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 135vh;
    background-color: #FFFFFF;
  }
  .logo-elements img {
    margin: 25%;
  }
  .img2 img {
    width: 200px;
    height: 170px;
    margin: 0;
  }
  .img3 img {
    width: 300px;
    height: 100px;
    margin: 0;
  }
  .img5 img {
    width: 230px;
    height: 90px;
    margin: 0;
  }
}
/* section 3 end */

/* section 4 */
.section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 55vh;
  background-color: #F8F8F8;
}
.sec-4 {
  margin: 0 0 0 5%;
  width: 32vw;
}
.sec-4 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.sec-4 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 4%;
}
.sec-4 button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  width: 289px;
  height: 71px;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 6%;
  color: #FFFFFF;
  background-color: #101010;
}
.Box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: -7%;
  width: 70vw;
}
.box {
  width: 270px;
  height: 160px;
  padding-top: 2%;
  padding-left: 3%;
  border-radius: 10px;
  margin-right: 8%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: #EAFF4A;
}
.box h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 250px;
  margin-top: 3%;
}
.box1 {
  background-color: #FFFFFF;
}
.box2 {
  background-color: #EAFF4A;
  
}
.box2 h1 {
  background-color: white;
  width: 40px;
  height: 50px;
  padding-left: 6%;
  padding-top: 2%;
  font-size: 30px;
  border-radius: 10px;
}
.box3 {
  background-color: #FFFFFF;
}

@media only screen and (max-width: 360px) {
  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    width: 100vw;
    height: 130vh;
    background-color: #F8F8F8;
  }
  .sec-4 {
    margin: 0 0 0 5%;
    width: 90vw;
  }
  .sec-4 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
  }
  .Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -10%;
    margin-top: 10%;
    width: 70vw;
  }
  .box {
    width: 270px;
    height: 160px;
    padding-top: 2%;
    padding-left: 3%;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 13%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
/* section 4 end */

/* section 5 */
.info-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #EAFF4A;
}
.info {
  margin-left: 4%;
  width: 800px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21px;
}
.info-btn {
  position: absolute;
  right: 10%;
}
.info-btn button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 600;
  width: 400px;
  height: 85px;
  color: #101010;
  background-color: white;
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 360px) {
  .info-sec {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 45vh;
    background-color: #EAFF4A;
  }
  .info {
    padding-top: 6%;
    margin-left: 3%;
    width: 320px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  .info-btn {
    position: absolute;
    left: 5%;
    bottom: 9%;
  }
  .info-btn button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 300px;
    height: 75px;
    color: #101010;
    background-color: white;
    border-radius: 10px;
    border: none;
  }
}
/* section 5 end */

/* section 6 */
.help-sec {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
}
.help-left {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 100vh;
}
.black1 {
  position: absolute;
  z-index: 1;
  width: 40vw;
  height: 100vh;
  background-color: #101010;
}
.bg-img {
  position: absolute;
  top: 12%;
  left: 1%;
  z-index: 2;
  width: 40vw;
  height: 90vh;
}
.bg-img img {
  width: 40vw;
  height: 90vh;
}
.help-img {
  position: absolute;
  z-index: 3;
  top: -5%;
  left: 4%;
  width: auto;
  height: 110vh;
  overflow: hidden;
}
.help-img img {
  width: 1100px;
  height: 1100px;
}
.help-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.help-right h1 {
  position: absolute;
  top: 10%;
  width: 600px;
  font-size: 50px;
  font-weight: 700;
}
.help-right h2 {
  width: 300px;
  font-size: 32px;
}
.help-right button {
  position: absolute;
  top: 43%;
  font-size: 16px;
  font-weight: 200;
  width: 315px;
  height: 71px;
  background-color: #EAFF4A;
  border-radius: 10px;
  border: none;
}
.help1 {
  position: absolute;
  top: 58%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.help1-1 h2 {
  margin-left: 50%;
}
.help1-1 p {
  margin-left: 50%;
}
.help2 {
  position: absolute;
  top: 72%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.help2-2 h2 {
  margin-left: 20%;
}
.help2-2 p {
  margin-left: 20%;
}

@media only screen and (max-width: 360px) {
  .help.sec {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .help-left {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 100vh;
  }
  .black1 {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
  }
  .bg-img {
    position: absolute;
    top: 12%;
    left: 1%;
    z-index: 2;
    width: 95vw;
    height: 90vh;
  }
  .bg-img img {
    width: 95vw;
    height: 90vh;
  }
  .help-img {
    position: absolute;
    z-index: 3;
    top: -5%;
    left: 0%;
    width: auto;
    height: 110vh;
    overflow: hidden;
  }
  .help-img img {
    width: 700px;
    height: 700px;
  }
  .help-right {
    display: none;
  }
}
/* section 6 end */

/* section 7 */
.testi-box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F8F8F8;
  padding-top: 2%;
  width: 100vw;
  height: 55vh;
}
.testi-box h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 2%;
  margin-left: 6.5%;
}
.testi-box h2 {
  color: #EAFF4A;
  font-size: 60px;
  margin-top: 2%;
  height: 50px;
}
.testi-box p {
  font-size: 14px;
  font-weight: 400;
}
.testi-box h3 {
  height: 35px;
  font-size: 22px;
}
.testi-box h4 {
  position: absolute;
  bottom: 8%;
  color: #EAFF4A;
  font-size: 50px;
}
.testimonal {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text-box {
  width: 350px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px 20px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 360px) {
  .testi-box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F8F8F8;
    padding-top: 2%;
    width: 100vw;
    height: 150vh;
  } 
  .testi-box h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10%;
    margin-left: 6.5%;
  }
  .testimonal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .text-box {
    width: 300px;
    height: 250px;
    margin-left: 3%;
    margin-bottom: 8%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
/* section 7 end */

/* section 8 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #101010;
  color: #F8F8F8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer h1 {
  font-size: 45px;
  font-weight: 500;
}
.link-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
@media only screen and (max-width: 360px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-color: #101010;
    color: #F8F8F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .link-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
  }
  .link-sec h3 {
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
/* section 8 end */